/*
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

body {
    margin: 2em 1.143em;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.83em;
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 100vw;
}

.main-img {
    width: 100%;
    height: 100%;
    border-radius: 0.83em 0.83em 0 0;
}

.display-info {
    margin: 1.5em 1.75em;
}

.product-type {
    font-size: 1rem;
    font-weight: 500;;
}

.product-name {
    margin: 0.5em 0;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 2.286rem;
}

.product-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

/* Solution to vertical align two elements */
.price-wrapper {
    width: 100%;
    margin: 2em 0;
}

.discount-price, .regular-price { 
    display: inline-block;
    vertical-align: middle;
}

.discount-price {
    font-family: 'Fraunces', serif;
    font-size: 2.286rem;
    color: hsl(158, 36%, 37%);
}

.regular-price {
    margin-left: 2em;
    text-decoration: line-through;
}

button {
    width: 100%;
    padding: 1em;
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 36%, 37%);
    border-radius: 0.83em;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
button:active {
    background-color: hsl(158, 35%, 17%);
}

label {
    margin-left: 0.75em;
    font-size: 1.07rem;
    display: inline-block;
    vertical-align: middle;

}

.cart-img {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (min-width: 760px) {
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        max-width: 46.429em;
        max-height: 32.857em;
        height: 50%;
        display: flex;
        flex-direction: row;
    }

    .display-img {
        width: 60%;
    }
    
    .display-info {
        width: 40%;
        margin: 0.5em 0 0 0;
        padding: 1.5em 2.5em;
    }

    .main-img {
        width: 100%;
        height: 100%;
        border-radius: 0.83em 0 0 0.83em;
    }
}